body {
    background-color: #DDA0DD;
}

button {
    width: 80px;
}

h1 {
    color: #708090;
}

p {
    font-size: 33pt;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}
