* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 30pt;
    text-align: center;
}

header {
    width: 100%;
    height: 20vh;
    background-color: #599bb4;
}

nav {
    width: 400px;
    height: 60px;
    background-color: rgb(226, 66, 30);
    margin: 0 auto;
    float: left;
}

aside {
    width: 10%;
    height: 65vh;
    background-color: #1c5c07;
    float: right;
}

main {
    width: 90%;
    height: 65vh;
    background-color: #8ac281;
    float: left;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: #f90aa9;
    position: absolute;
    bottom: 0;
}
